@media (max-width: 820px) {
  .mainimages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: -100px;
    right: -250px;
    transform: matrix(0.93, 0.46, -0.62, 0.69, 0, 0)
  }
  .mainimages img{
    width: 150px;
    height: 300px; 
    margin-right: 10px;
  }
  .hero{
    padding: 10px;
  }
  .hero-img{
    width: 500px;
    height: 800px;
    top: 50px;
    right: -10px;
  }
  .container, .container2, .container3, .container4{
    max-width: 100%;
    padding: 10px;
  }
  .toplogo{
    justify-content: space-evenly;
  }
  .toplogo img{
    width: 100px;
  }
  .toplogowriting{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  .toplogowriting h1{
    font-size: 40px;
    font-weight: 700;
  }
  .toplogowriting p{
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
  }
  .line{
    width: 40px;
    margin-top: 4px;
  }
  .section-content{
    margin: auto;
    text-align: start;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400px;
  }
  .section-heading{
    margin: auto;
    font-size: 30px;
    line-height: 24px;
    font-weight: 800;
    padding: 30px;
    text-align: center;
  }
  .mehh{
    font-size: 20px;
  }
  .talk{
    padding-bottom: 40px;
  }
  .talk h1{
    font-weight:600;
    font-size: 30px;
  }
  .smalltalk{
    padding:  30px 0 30px 0;
  }
  .smalltalk>*{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  .smalltalk p{
    font-weight: 300;
    font-size: 16px;
  }
  .hero{
    padding: 10px;
  }
  .grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .button-groups button{
    padding: 12px 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 900;
    margin: 10px;
    border: none;
    font-family: 'Inter';
  }
  .content{
    padding: 10px;
  }
  .content-img{
    text-align: center;
    padding: auto;
  }
  .content-img img{
    width: 120px;
    padding: 5px;
  }
  .letter-spacing{
    letter-spacing: 2px;
  }
  .competitive-content{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .competitive-content img{
    width: 400px;
  }
  .competitive-wordings{
    text-align: center;
  }
  .competitive-wordings p, h4, h1{
    text-align: start;
  }
  .competitive-wordings p{
    width: 100%;
  }
  .wireframe-img img{
    width: 200px;
    height: 406px;
    padding: 5px;
  }
  .wireframe-img{
    text-align: center;
  }
  .hi-designs{
    padding: 10px;
  }
  .hi-designs img{
    width: 200px;
    height: 400px;
    margin: 5px;
  }
  .comments{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  .user-content-grid {
    margin: 5px 0;
  }
  .user-content-grid img{
    width: 150px;
    height: 151px;
    margin: 5px;
  }
  .user-content-grid div{
    text-align: center;
    margin: 5px;
  }
  .persona img{
    width: 350px;
  }
  .personabox h1{
    text-align: center;
  }
  .personabox p{
    font-size: 15px;
    font-weight: 400;
  }
  .personaplain{
    border-radius: 16px;
    width: 100%;
  }
  .personaplain p{
    font-size: 24px;
    font-size: 500;
  }
}
@media (max-width: 500px) {
  .mainimages img{
    display: none;
  }
  .hero{
    padding: 10px;
  }
  .hero-img{
    width: 500px;
    height: 800px;
    top: 50px;
    right: -10px;
  }
  .container, .container2, .container3, .container4{
    max-width: 100%;
    padding: 10px;
  }
  .toplogo{
    justify-content: space-evenly;
  }
  .toplogo img{
    width: 100px;
  }
  .toplogowriting{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  .toplogowriting h1{
    font-size: 40px;
    font-weight: 700;
  }
  .toplogowriting p{
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
  }
  .line{
    width: 40px;
    margin-top: 4px;
  }
  .section-content{
    margin: auto;
    text-align: start;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400px;
  }
  .section-heading{
    margin: auto;
    font-size: 30px;
    line-height: 24px;
    font-weight: 800;
    padding: 30px;
    text-align: center;
  }
  .head{
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
    padding: 20px 0;
  }
  .mehh{
    font-size: 20px;
  }
  .talk{
    padding-bottom: 40px;
  }
  .talk h1{
    font-weight:600;
    font-size: 30px;
  }
  .smalltalk{
    padding:  30px 0 30px 0;
  }
  .smalltalk>*{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  .smalltalk p{
    font-weight: 300;
    font-size: 16px;
  }
  .hero{
    padding: 10px;
  }
  .grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .button-groups button{
    padding: 12px 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 900;
    margin: 10px;
    border: none;
    font-family: 'Inter';
  }
  .content{
    padding: 10px;
  }
  .content-img{
    text-align: center;
    padding: auto;
  }
  .content-img img{
    width: 120px;
    padding: 5px;
  }
  .letter-spacing{
    letter-spacing: 2px;
  }
  .persona img{
    width: 100%;
  }
  .personabox h1{
    text-align: center;
  }
  .personabox p{
    font-size: 12px;
    font-weight: 400;
  }
  .personaplain{
    border-radius: 16px;
    width: 100%;
  }
  .personaplain p{
    font-size: 14px;
    font-size: 500;
  }
  .persona{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-radius: 20px;
  }
  .hero-footer p{
    padding: 10px 0;
    font-size: 12px;
    font-weight: 300;
  }
  .hero-footer p span{
    font-weight: 300;
  }
  .diagram{
    padding: 30px 0;
  }
  .diagram img{
    width: 100%;
    padding-top: 40px;
  }
  .wireframe-img img{
    width: 120px;
    height: 300px;
    padding: 5px;
    text-align: center;
  }
  .hi-designs{
    padding: 10px;
  }
  .hi-designs img{
    width: 90px;
    height: 200px;
    margin: 5px;
  }
  .user-content-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 0;
  }
  .user-content-grid img{
    width: 75px;
    height: 76px;
    margin: 15px;
  }
  .user-content-grid div p{
    font-size: 14px;
    font-weight: 400;
  }
  .user-content-top{
    margin-left: 30px;
  }
  .user-content-top h2{
    font-size: 20px;
  }
  .user-content-top p{
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
  }
  .user-survey-img{
   width: 50px;
   height: 102px;
  }
  .competitive-content img{
    width: 300px;
    padding: 10px;
  }
  .competitive-content{
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .competitive-wordings{
    margin-left: 20px;
  }
  .competitive-wordings p{
    width: 100%;
  }
  .big-logo{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 400px) {
  .wireframe-img img{
    width: 90px;
    height: 200px;
    padding: 5px;
    text-align: center;
  }
  .user-content-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 0;
  }
  .user-content-grid img{
    width: 75px;
    height: 76px;
    margin: 15px 7px;
  }
.hi-designs img{
  width: 80px;
  height: 170px;
  margin: 5px;
 }
}